@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather&display=swap');




:root {
    --green-light: #19D3DA;
    --purple-light: #2B6CB0;
    --white: #FFFFFF;
    --white-200: #F7FAFC;
    --gray: #1A202C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 0px;
}

.container-image {
    background: var(--white-200);
}
.conteudo-primario{
    width: 640px;
}


.conteudo-um {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}


.titulo {
    font-size: 30px;
    margin: 10px 0px;
    text-align: center;
    font-family: 'Anek Tamil', sans-serif;
}

.paragrafo {
    font-size: 14px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.a-entrar{
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 43.5%;
    padding-right: 43.5%;
}

.nav-header{
    background-color: #2af0f0;
    display: flex;
    justify-content: space-around;
}

a{
    margin: 10px;
}


.container-image, 
.container-form {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-image svg {
    width: 400px;
}

.container-form {
    position: relative;
}

.form-content {
    width: 347px;
    display: flex;
    flex-direction: column;
}

.form-title {
    font-family: 'Merriweather', sans-serif;
    color: var(--gray);
}

.form-title p {
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
}

.form-title h1 {
    font-size: 26px;
    line-height: 33px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

form label {
    padding: 11px 0px;
}

input {
    height: 50px;
    border-radius: 5px;
    border: 1px solid #E8E8E8 !important;
    padding-left: 20px; 
}

input:focus,
input:active {
    outline-color: var(--green-light);;
}

input::placeholder {
    color: var(--gray);
}

.form-radio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
}

.form-radio a {
    color: var(--purple-light)
}

.radio-content {
    display: flex;
    align-items: center;
    gap: 11px;
}

.button-entrar {
    background: var(--green-light);
    margin: 16px 0px 15px 0px;
    cursor: pointer;
}

.button-entrar,
.button-google-entrar {
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
    font-weight: bold;
    color: var(--white);
    border-radius: 5px;
    border: 0px;
    padding: 15px;
    transition: all .4s ease;
}

.button-google-entrar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    background: var(--gray);
}

.button-entrar:hover,
.button-google-entrar:hover {
    opacity: 0.92;
}

.cadastro {
    display: flex;
    justify-content: center;
    gap: 5px;
    bottom: 0px;
    margin: 10px;
}

.cadastro a {
    color: var(--purple-light);
}


/* MEDIA QUERIES */
@media (max-width: 992px) {   
    .form-content{
        padding: 10px;
    }

    .container-image svg {
        padding: 20px;
    }
}

@media (max-width: 768px) {   
    main {
        align-items: center;
        justify-content: center;
    }
    .container-image {
        display: none;
    }

    .container-form {
        width: 100%;
        align-items: flex-start;
        padding-top: 70px;
    }
}

@media (max-width: 360px) {
    .container-form {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 340px) {
    .form-radio {
        flex-direction: column;
        align-items: flex-start;
    }

    .button-entrar {
        margin-top: 25px;
    }
}
