@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");



:root {
    --green-light: #19D3DA;
    --purple-light: #2B6CB0;
    --white: #FFFFFF;
    --white-200: #F7FAFC;
    --gray: #1A202C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
  }

header{
    background-color: var(--green-light);
    display: flex;
    justify-content: center;
    align-items: center ;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #000;
}

footer{
    position: fixed;
    bottom:0;
    left: 0;
}

a {
    text-decoration: none;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 0px;
}

.container-image {
    background: var(--white-200);
}
.conteudo-primario{
    width: 640px;
}


.conteudo-um {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}


.titulo {
    font-size: 30px;
    margin: 10px 0px;
    text-align: center;
    font-family: 'Anek Tamil', sans-serif;
}

.paragrafo {
    font-size: 14px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.a-entrar{
    display: flex;
    align-items: center;
    padding: 2.5% 43.5% 2.5% 43.5%;
}

.nav-header{
    display: flex;
    justify-content: space-around;
}

.nav-header nav a {
    margin: 0 10px 0 10px;
}




.container-image, 
.container-form {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-image svg {
    width: 400px;
}

.container-form {
    position: relative;
}

.form-content {
    width: 347px;
    display: flex;
    flex-direction: column;
}

.form-title {
    font-family: 'Merriweather', sans-serif;
    color: var(--gray);
}

.form-title p {
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
}

.form-title h1 {
    font-size: 26px;
    line-height: 33px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

form label {
    padding: 11px 0px;
}

input {
    height: 50px;
    border-radius: 5px;
    border: 1px solid #E8E8E8 !important;
    padding-left: 20px; 
}

input:focus,
input:active {
    outline-color: var(--green-light);;
}

input::placeholder {
    color: var(--gray);
}

.form-radio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
}

.form-radio a {
    color: var(--purple-light)
}

.radio-content {
    display: flex;
    align-items: center;
    gap: 11px;
}

.button-entrar {
    background: var(--green-light);
    margin: 16px 0px 15px 0px;
    cursor: pointer;
}

.button-entrar,
.button-google-entrar {
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
    font-weight: bold;
    color: var(--white);
    border-radius: 5px;
    border: 0px;
    padding: 15px;
    transition: all .4s ease;
}

.button-google-entrar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    background: var(--gray);
}

.button-entrar:hover,
.button-google-entrar:hover {
    opacity: 0.92;
}

.cadastro {
    display: flex;
    justify-content: center;
    gap: 5px;
    bottom: 0px;
    margin: 10px;
}

.cadastro a {
    color: var(--purple-light);
}


/* Estyle card */

.container_infos {
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.postedBy {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
        
    }
    .curso-card-temp {
        margin: 5px 10px;
        font-size: 12px;
        text-transform: uppercase;
        opacity: 0.5;
        letter-spacing: 1px;
        font-weight: bold;
    }

    
  body .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 0;
  }

  /* Gradient border animation */

  .container-curso {
    padding: 3px;
    border: 5px solid;
    border-image: 
    linear-gradient(
     #e93916, 
     #000,
     var(--green-light)
    ) 1 ;
    animation: rotate
    2.5s
    ease-in
    infinite;
  }
  @keyframes rotate {
    50%{
        border-image: linear-gradient(
            var(--green-light),
            #030303,
            orange
        )1;
    }
  }

    /* FIM Gradient border animation */
  
  .titulo-curso{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    color: #000;
  }
  body .container .card {
    position: relative;
    min-width: 280px;
    height: 400px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
      inset -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 25px;
    transition: 0.5s;
  }
  
  body .container .card:nth-child(1) .box .content a {
    background: #19D3DA;
  }
  
  body .container .card:nth-child(2) .box .content a {
    background: #19D3DA;
  }
  
  body .container .card:nth-child(3) .box .content a {
    background: #19D3DA;
  }
  body .container .card:nth-child(4) .box .content a {
    background: #19D3DA;
  }
  
  body .container .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2a2b2f;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
  }
  
  body .container .card .box:hover {
    transform: translateY(-50px);
  }
  
  body .container .card .box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.03);
  }
  
  body .container .card .box .content {
    padding: 20px;
    text-align: center;
  }
  
  body .container .card .box .content h2 {
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8rem;
    color: rgba(255, 255, 255, 0.1);
  }
  
  body .container .card .box .content h3 {
    font-size: 1.8rem;
    color: #fff;
    z-index: 1;
    transition: 0.5s;
    margin-bottom: 15px;
  }
  
  body .container .card .box .content p {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    transition: 0.5s;
  }
  
  body .container .card .box .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: black;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }
  body .container .card .box .content a:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    background: #fff;
    color: #000;
  }

 /* Style profile*/ 

    .conteudo-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#img-profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.formulario-profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.input-profile {
    margin: 5px;
    border-radius: 6px;
    width: 20rem;
}
.button-profile {
    border-radius: 6px;
    width: 15rem;
    height: 2.1rem;
    margin: 10px;
    background: #19D3DA;
    color: #000;
    font-size: 1.2rem;
    font-family: 'Merriweather', serif;
}


/* MEDIA QUERIES */
@media (max-width: 992px) {   
    .form-content{
        padding: 10px;
    }

    .container-image svg {
        padding: 20px;
    }
}

@media (max-width: 768px) {   
    main {
        align-items: center;
        justify-content: center;
    }
    .container-image {
        display: none;
    }

    .container-form {
        width: 100%;
        align-items: flex-start;
        padding-top: 70px;
    }
}

@media (max-width: 360px) {
    .container-form {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 340px) {
    .form-radio {
        flex-direction: column;
        align-items: flex-start;
    }

    .button-entrar {
        margin-top: 25px;
    }
}
